.settingsCloseModal {
    cursor: pointer;
    color: #000;
    position: absolute;
    line-height: 1;
    right: 4px;
    top: 50%;
    transform: translateY(-56%);
}

.settingsCloseModal {
    font-size: 2rem;
}

.settingsCloseModal.dark {
    color: #f8f8f8;
}

.settingsModalHeader {
    text-transform: uppercase;
    font-size: 1rem;
    color: #000;
    margin: 0;
}

.settingsModalHeader.dark {
    color: #f8f8f8;
}

.settingsModalBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}

.settingsModalFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #666;
}

.settingsModalFooter.dark {
    color: #dfdfdf;
}




.settingOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.settingOption.dark {
    border-bottom: 1px solid #3a3a3c;
}

.settingLabel {
    display: flex;
    flex-direction: column;
    color: #000;
    font-weight: 500;
    flex-grow: 1;
    text-align: left;
    margin-right: 10px;
}

.settingLabel.dark {
    color: #f8f8f8;
}

.settingSubtext {
    font-size: 0.7rem;
    color: #363636;
    margin: 0;
    line-height: 1;
    padding-right: 50px;
}

.settingSubtext.dark {
    color: #dfdfdf;
}


.switch {
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 22px;
}

.slider.dark {
    background-color: #565758;
}


.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #6aaa64;
}

input.high:checked+.slider.high {
    background-color: #f5793a;
}

input:checked+.slider:before {
    transform: translateX(12px);
}