.signinContainer {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signinButtonContainer {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signinButton,
.signupButton {
    all: unset;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 2px;
    font-weight: 400;
    text-transform: none;
    white-space: nowrap;
    justify-self: flex-start;
}

.errorContainer {
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage {
    color: red;
    font-size: 14px;
    text-align: center;
    visibility: hidden;
}

.errorMessage:not(:empty) {
    visibility: visible;
}

.signin {
    display: block;
    width: 80%;
    height: auto;
}

.signinFormContainer {
    display: flex;
    align-self: center;
    position: relative;
    width: 100%;
}

.signinForm {
    width: 100%;
    position: relative;
}

.formInputLabel {
    float: left;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-transform: none;
    cursor: default;
}

.formInput {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
    padding: 4px 0 4px 0;
    font-size: 14px;
    outline: none;
}

.signinHeader {
    display: flex;
    width: 100%;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    vertical-align: baseline;
}
