<div class="modal" id="statsModal" style="display: none;">
    <div class="modalContainer" id="statsModalContainer">
        <div class="modalWrapper">
            <div class="modalHeaderContainer">
                <span class="statsCloseModal closeModal">&times;</span>
            </div>
            <div class="statsModalBodyContainer">
                <h2 class="statsModalHeaderMain">
                    Statistics
                </h2>
                <div class="statsContainer">
                    <div class="statsItem">
                        <div class="statsValue" id="gamesPlayed">0</div>
                        <div class="statsLabel">Played<br></div>
                    </div>
                    <div class="statsItem">
                        <div class="statsValue" id="winRate">0%</div>
                        <div class="statsLabel">Win %<br></div>
                    </div>
                    <div class="statsItem">
                        <div class="statsValue" id="currentStreak">0</div>
                        <div class="statsLabel">Current<br>Streak</div>
                    </div>
                    <div class="statsItem">
                        <div class="statsValue" id="longestStreak">0</div>
                        <div class="statsLabel">Max<br>Streak</div>
                    </div>
                </div>
                <h2 class="statsModalHeader">
                    GUESS DISTRIBUTION
                </h2>
                <div class="guessDistribution" id="guessDistributionChart"></div>
            </div>

        </div>
    </div>
</div>